.input-radio {
    &:not(.job-sidebar) {
        @media (min-width: 992px) {
            .row {
                margin: 0 -15px;

                .widget-area {
                    flex: 30%;
                    max-width: 30%;
                    padding: 0 15px;
                }

                .content-area {
                    flex: 70%;
                    max-width: 70%;
                    padding: 0 15px;
                }
            }
        }
    }

    .widget-area {
        .widget {
            position: relative;
            border-radius: 6px;
            margin-bottom: 30px;
            padding: 30px 30px;
            background-color: $theme-GreyColor;

            &:last-child {
                margin-bottom: 0px;
            }

            a:not(.ttm-btn) {
                font-weight: 400;
                font-size: 15px;
                font-size: 14px;
            }

            ul {
                margin: 0;
                padding: 0;

                >li {
                    border-top: 1px solid #eee;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    list-style: none;

                    &:first-child {
                        border-top: none;
                        padding-top: 0;
                    }
                }
            }

            .widget-title {
                padding-bottom: 13px;
                display: block;
                font-size: 20px;
                line-height: 20px;
                padding: 0 30px 15px;
                margin: 0 -30px;
                position: relative;
                margin-bottom: 24px;
                border-bottom: 1px solid #e7e7e7;

                &:after {
                    position: absolute;
                    content: "";
                    bottom: 0px;
                    opacity: 1;
                    left: 30px;
                    width: 32px;
                    height: 2px;
                    transition: all .4s;
                    // background-color: $theme-SkinColor;
                }
            }
        }
    }
}

.radio-group-wrapper {
    h5 {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;
        text-transform: capitalize;
    }

    .widget {
        // border: 1px solid #ebebeb;
        // border-radius: 6px;
    }

    .job_list-widget {
        // padding: 30px;
        // border: 1px solid #ebebeb;
        // border-radius: 6px;
        background-color: $theme-GreyColor;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        .widget {
            padding: 0 30px 30px;
            border: 0;
            // border-radius: 6px;
            background-color: $theme-WhiteColor;

            .widget-title {
                padding: 16px 30px;
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                &:after {
                    height: 100%;
                    width: 2px;
                    left: 0;
                }

                i {
                    position: absolute;
                    left: 20px;
                    opacity: 0.9;
                    font-size: 16px;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .required-star {
                    color: #dc3545;
                    margin-left: 5px;
                }
            }

            form {
                label {
                    margin-bottom: 15px;

                    input,
                    textarea,
                    select {
                        width: 100%;
                        border-radius: 3px;
                        padding: 11px 15px;
                        color: $bodyfont-Color;
                        border: 0;
                        background-color: $theme-GreyColor;
                    }
                }
            }

            .list-filter {
                label.radio {
                    padding-bottom: 15px;
                    border-radius: 50px;
                    display: block;
                    cursor: pointer;
                    margin: 0;
                    font-size: 14px;
                    line-height: 1;
                    text-transform: capitalize;
                    -webkit-tap-highlight-color: transparent;

                    &:last-child {
                        padding-bottom: 0;
                    }

                    input {
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background: none;
                        border: 0;
                        box-shadow: inset 0 0 0 1px #9f9f9f;
                        box-shadow: inset 0 0 0 1.5px #9f9f9f;
                        appearance: none;
                        padding: 0;
                        margin: 0;
                        margin-right: 10px;
                        transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
                        pointer-events: none;

                        &:checked {
                            box-shadow: inset 0 0 0 3px $theme-SkinColor;
                        }
                    }

                }

            }
        }
    }

    .widget.widget-download {
        li {
            padding: 22px 30px !important;
            font-size: 16px;
            line-height: 1;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: $headingfont;
            background-color: $theme-WhiteColor;
            position: relative;
            border: 0;
            border-radius: 6px;

            a {
                font-weight: bold;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                position: absolute;
                content: "";
                bottom: 0px;
                opacity: 1;
                left: 0;
                width: 2px;
                height: 100%;
                transition: all .4s;
                background-color: #1f4e79;
            }

            i {
                height: 59px;
                width: 69px;
                line-height: 59px;
                text-align: center;
                position: absolute;
                right: 0;
                top: 0;
                color: $theme-SkinColor;
                border-left: 10px solid $theme-GreyColor;
            }
        }
    }

    .showing-result-block {
        padding: 15px 30px 20px;
        background-color: $theme-GreyColor;
        border: 1px solid #ebebeb;
        border-radius: 6px;
        font-size: 15px;
        font-family: $headingfont;
        font-weight: bold;
        color: $theme-DarkColor;
        margin-bottom: 32px;

        select {
            border: 0;
            outline: 0;
            box-shadow: unset;
            font-family: $bodyfont;
            color: $bodyfont-Color;
            background-color: transparent;
            margin-left: 5px;
        }
    }

    .job-pagination-block {
        padding: 8px 20px;
        border: 1px solid #ebebeb;
        border-radius: 6px;
        text-align: center;
        display: table;
        margin: 0 auto;
        margin-top: 35px;
        background-color: $theme-GreyColor;

        .page-nav-link {
            display: inline-block;
            text-align: center;
            padding: 10px 14px;
            margin: 4px;
            border-radius: 6px;
            font-size: 16px;
            line-height: 1;
            text-transform: capitalize;
            background-color: #FFFFFF;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);

            &:hover,
            &.current {
                background-color: $theme-SkinColor;
                color: $theme-WhiteColor;
            }
        }
    }
}