.language-switcher {
    &__trigger {
        width: 130px;
    }

    &__trigger:hover+.language-switcher__dropdown,
    &__trigger:hover~.language-switcher__dropdown,
    .language-switcher__dropdown:hover {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    &__dropdown {
        margin-top: 22px;
        text-align: left;
        position: absolute;
        visibility: hidden;
        display: block;
        opacity: 1;
        width: 250px;
        line-height: 14px;
        list-style: none;
        padding: 0;
        background-color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .18);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .18);
        background-clip: padding-box;
        transition: all .5s ease;
        z-index: 99;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, .20);
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, .20);
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-box-shadow: 0 3px 25px 0px rgba(43, 52, 59, .10), 0 0 0 rgba(43, 52, 59, .10) inset;
        box-shadow: 0 3px 25px 0px rgba(43, 52, 59, .10), 0 0 0 rgba(43, 52, 59, .10) inset;
        background-clip: padding-box;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__option {
        width: 80%;
        font-size: 13px;
        line-height: 14px;
        font-weight: 400;
        display: block;
        padding: 16px 0 15px;
        margin: 0 25px;
        color: #919191;
        text-align: left;
        border-radius: 0;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09);

        &:hover {
            color: #1F4E79;
        }

        &-flag {
            font-size: 1.2rem;
        }

        &-name {
            flex: 1;
        }
    }

    &__check {
        float: right;
        color: $theme-SkinColor;
        font-size: 13px;
    }
}